<% provide(:title, "Home") %>

<div class="container-fluid">
  <div class="jumbotron bg-hero-banner white-header-text" align="center">
    <h1>BUY LOCAL ART</h1>
    <h1>LOCAL ART BUY</h1>
    <h1>ART BUY LOCAL</h1>
    <h1>
    </h1>
    <h4>Artbnb connects Artists with Patrons who need to buy or sell art.</h4>
    <br><br>
     <div class="row" align="center">
        <div class="col-lg-2 col-xs-2"> </div>
        <div class="col-lg-8 col-xs-8"><%= button_to "Check Out Some Art!", artworks_path, :class => "btn btn-warning btn-lg green-button", :method => :get %></div>
        <div class="col-lg-2 col-xs-2"> </div>
     </div>
  </div>

  <div class="row" align="center">
    <div class="col-lg-2 col-xs-2"> </div>
    <div class="col-lg-8 col-xs-8"><h2>How Artbnb Works</h2></div>
    <div class="col-lg-2 col-xs-2"> </div>
  </div>
  <div class="row" align="center">
    <div class="col-lg-2 col-xs-2"> </div>
    <div class="col-lg-4 col-xs-4"><h4>If You Are An Artist</h4></div>
    <div class="col-lg-4 col-xs-4"><h4>If You Are In Need Of Art</h4></div>
    <div class="col-lg-2 col-xs-2"> </div>
  </div>
  <div class="row" align="center">
    <div class="col-lg-4 col-md-4 col-xs-12 bg-danger">add icon <br>Register as an Artist<br>add description</div>
    <div class="col-lg-4 col-md-4 col-xs-12 bg-warning">add icon <br>Upload your Artwork<br>add description</div>
    <div class="col-lg-4 col-md-4 col-xs-12 bg-success">add icon <br>Connect with Buyers<br>add description</div>
  </div> 

  <div class="container-fluid">
  <div class="row bg-green-banner" align="center">
    <div class="col-lg-12 col-md-12 col-xs-12"><h2>Venues</h2></div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <div class="thumbnail hp-beaker-and-gray">
        <div class="caption">
          <h1><br /></h1>
          <h1><br /></h1>
          <p><a href="/venues/1" class="btn btn-default" role="button">Beaker & Gray</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <div class="thumbnail hp-building">
        <div class="caption">
          <h1><br /></h1>
          <h1><br /></h1>
          <p><a href="/venues/2" class="btn btn-default" role="button">Building.co</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-12">
      <div class="thumbnail hp-p54">
        <div class="caption">
          <h1><br /></h1>
          <h1><br /></h1>
          <p><a href="/venues/3" class="btn btn-default" role="button">Pacific54</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-3"> </div>
    <div class="col-lg-3 col-xs-12"><%= button_to "See more Venues!", venues_path, :class => "btn btn-warning btn-lg purple-button", :method => :get %></div>
    <div class="col-lg-3 col-xs-12 hidden-md hidden-sm hidden-xs"><%= button_to "Register your Venue!", new_venue_path, :class => "btn btn-warning btn-lg purple-button", :method => :get %></div>
    <div class="col-lg-3"> </div>
  </div>
</div>
  <div class="jumbotron bg-homepage-info" align="center">
    <div class="row" align="center">
        <div class="col-lg-2"> </div>
        <div class="col-lg-8 col-xs-12 body-text"><h6>When you sign up as an artist with Artbnb, you will have access to a vast network of people looking to either buy or rent your artwork. Additionally, interested people can also reach out to commission you for specific work.</h6><br></div>
        <div class="col-lg-2"> </div>
    </div>
    <div class="row" align="center">
        <div class="col-lg-2"> </div>
        <div class="col-lg-8 col-xs-12 body-text"><h6>Conversely, when you sign up as a patron with Artbnb, you will have access to a wide range of artists who either have art they have already produced and are looking to rent or sell, or they are available to produce custom art pieces. Additionally, any business or property owners can register their venue on Artbnb to be contacted by artists who are interested in displaying their work for a small daily or weekly fee, but with no commission fees if their art is sold on-site.</h6><br></div>
        <div class="col-lg-2"> </div>
    </div>
    <div class="row" align="center">
        <div class="col-lg-2"> </div>
        <div class="col-lg-8 col-xs-12"><%= button_to "Register for Artbnb", new_user_registration_path, :class => "btn btn-warning btn-lg green-button", :method => :get %></div>
        <div class="col-lg-2"> </div>
    </div>  
  </div>
</div>