<h1>Edit the details of your artwork</h1>

<p><%= render 'form' %></p>

<p><%= link_to "delete", artwork_path(@artwork), method: :delete, data: {confirm: "Are you sure?"} %> | <%= link_to "Back", :back %></p>