<div class="container">

  <div class="row" align="center">
    <div class="bg-upload-your-art col-lg-12 ">

		<h1 class="green-text">Upload your artwork!</h1>

		<%= render 'artworkform' %>



	</div>
	    <div class="bg-green-banner padding col-lg-12">
    	<h2>Want to get paid? Connect with Stripe!</h2>
    	<br />
    	<h6>Click below to create a free Stripe account in a few minutes. Then begin processing payments immediately!</h6>
    	<br />
      <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_9KPeIErNZ8gTC4NkQsdQcyzVT7yQhkI1&scope=read_write" class="stripe-connect dark"><span>Connect with Stripe</span></a>
<br />
<br />
    </div>
  </div>
</div>