<p> <%= image_tag @user.profile.url(:thumb) %> <% @user.artworks.each do |artwork| %>
  <li><%= image_tag venue.image.url(:thumb) %> <br/> <%= link_to venue.name, venues_path(venue) %></li><br />
  <% end %> </p>