<h1>All artists</h1>
<ul>
  <% @users.each do |user| %>
  <li> <%= image_tag user.profile.url(:thumb) %> <br /> <%= link_to user.name, user_path(user) %> <br /> <%= user.email %> </li>
  <% end %>
</ul>

<%= link_to "Home", root_path %>
