<h2> Welcome <%= current_user.name %> to your profile page!</h2>

<h4>For artists, you can update your profile, etc.</h4>

<p> <%= image_tag @user.profile.url(:thumb) %> </p>

<p><%= link_to "Edit Profile", edit_user_registration_path(@user) %></p>