<h2> Welcome to <%= @user.name %>'s profile page!</h2>

<p> <%= image_tag @user.profile.url(:thumb) %> must add gallery of user's artwork here as thumbnails </p>

<p>send <%= @user.name %> a message (I will need to add this functionality)</p>

<p><%= link_to "See More Artists", users_path %></p>
