<h2> Welcome <%= @user.name %> to your profile page!</h2>

<h4>For artists, you can update your profile, etc.</h4>

<img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock.">
<p><%= link_to "Back", :back %></p>