<div class="container">

  <div class="row" align="center">
    <div class="bg-sign-in col-lg-12 ">

      <h1 class="green-text">Are you ready to start getting paid for creating art?</h1>

      <br />

      <h2>Artbnb has mad it easy for artists and art patrons to send and receive payments by integrating with Stripe.</h2>

      <br />

      <h5>Stripe is the easiest way for individuals and businesses to accept payments. Our users are able to instantly process major international debit or credit cards, including Visa, MasterCard and American Express. Furthermore, our users don't need a merchant account, so they can start accepting payments today!</h5>

    </div>

    <div class="bg-green-banner padding col-lg-12">
    	<h6>Click below to create a free Stripe account in a few minutes. Then begin processing payments immediately!</h6>
    	<br />
      <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_9KPeIErNZ8gTC4NkQsdQcyzVT7yQhkI1&scope=read_write" class="stripe-connect"><span>Connect with Stripe</span></a>
<br />
<br />
    </div>

  </div>
</div>
<div>
  </div>