<!-- <div class="container">
	<p class="lead">need to add footer</p>
	<p><%= link_to 'Home', root_path %> | <%= link_to 'About', about_path %> | <%= link_to 'Contact', contact_path %></p>
	<p>then add style elements</p>
	<p>then clean up style elements</p>
	<p><small>this is just an example of small text</small></p>

</div> -->
<footer class="page-footer purple lighten-1">
  <div class="container">
    <div class="row">
      <div class="col s10">
        <h5 class="white-text">Artbnb</h5>
        <p class="grey-text text-lighten-4">Connecting artists with patrons.</p>
      </div>
      <div class="col s2">
        <h5 class="white-text">Sitemap</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/users/sign_in">Log In</a></li>
          <li><a class="grey-text text-lighten-3" href="/users/sign_up">Register</a></li>
          <li><a class="grey-text text-lighten-3" href="/">For Artists</a></li>
          <li><a class="grey-text text-lighten-3" href="/">For Patrons</a></li>
          <li><a class="grey-text text-lighten-3" href="/artists">View Artists</a></li>
          <li><a class="grey-text text-lighten-3" href="/">See Art</a></li>
          <li><a class="grey-text text-lighten-3" href="/">Browse Venues</a></li>
          <li><a class="grey-text text-lighten-3" href="/">Register Your Venue</a></li>
          <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  	<div class="container">
    	<div class="row">
    		<div class="col s4 white-text">
			    Artbnb 2016
			</div>

			<div class="col s4 center-align">
        <a class="white-text" target="_blank" href="https://twitter.com/turfsurfco"><i class="material-icons tiny mdi mdi-twitter"></i></a>
			</div>

			<div class="col s4 right-align">
        <a class="white-text" target="_blank" href="https://www.ironhack.com/en">Made with ♥ at Ironhack</a>
			</div>
		</div>
	</div>
  </div>
</footer>