<div class="container">

  <div class="row">

  	<div class="col-lg-12">
		<h1>Edit the details of your venue</h1>
		<p><%= render 'venueform' %></p>
		<p><%= link_to "delete", venue_path(@venue), method: :delete, data: {confirm: "Are you sure?"} %> | <%= link_to "Back", :back %></p>
	</div>

  </div>
</div>