<h1>All venues</h1>
<p>
<ul>
  <% @venues.each do |venue| %>
  <li><%= image_tag venue.image.url(:medium) %> <br/> <%= link_to venue.name, venue_path(venue) %></li><br />
  <% end %>
</ul>
</p>
<p>
	<%= link_to "Register your venue", new_venue_path %>
</p>