.main-page-content {
	padding-top: 50px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
 }

.bg-hero-banner {
	background-image: url(image-path('artbnb-homepage.jpg'));
    background-size: cover;
    padding: 20px;
    margin-top: 20px;
    height: 650px;
}

.bg-homepage-info {
	background-image: url(image-path('bg-homepage-register'));
    background-size: cover;
	padding: 20px;
	margin-top: 20px;
	height: 450px;
}

.hp-beaker-and-gray {
    background-image: url(image-path('beaker-and-gray-restaurant-gallery-space.jpg'));
    background-size: cover;
    padding: 20px;
    height: 237px;
}

.hp-building {
    background-image: url(image-path('building-co-office-space-gallery.jpg'));
    background-size: cover;
    padding: 20px;
    height: 237px;
}

.hp-p54 {
    background-image: url(image-path('pacific54-office-space-gallery.jpg'));
    background-size: cover;
    padding: 20px;
    height: 237px;
}

.bg-green-banner {
	background-color: rgb(174,221,148);
	padding: 20px;
	margin-top: 20px;
    margin-bottom: 20px;
}

.body-text {
    font-size: 20px;
}

.white-header-text {
    color: white;
}

.green-text {
    color: rgb(174,221,148);
    font-size: 24px;
}

.padding {
    padding-bottom: 20px;
}
